.menu_mob {
	display: none;
}
.main-nav {
	width: 100%;
	height: 65px;
	background-color: $secondary;
	position: relative;
	z-index: 99;
}
.menu1 {
	font-size: 1rem;
	margin-left: 215px;
}
.menu2 {
	float: right;
	padding-right: 10px;
	padding-top: 20px;
	height: 65px;
}
.menu2 a {
	text-decoration: none;
	color: $tekst;
}
.menu2 a:hover {
	color: $hover;
	transition: 0.3s;
}
.menu2 ul {
	list-style: none;
	float: right;
}
.menu2 ul li{
	display: inline;
	margin: 7px;
}

/*  first level of our drop down menu */
.menu1 li a:hover {
	color: $hover;
	transition: 0.2s;
}
.menu1 > ul {
	padding: 0;
	margin: 0;
}
.menu1 > ul > li {
	list-style: inside none;
	float: left;
	position: relative;
}
.menu1 > ul > li > a {
	display: block;
	padding: 20px 10px;
	text-decoration: none;
	color: $tekst;  
}
.menu1 > ul > li > a:hover {
	color: $hover;
	transition: 0.2s;
}
/* DropDown ARROW Style */
.menu1 > ul > li.has-sub > a:before {
	content: '';
	position: absolute;
	top: 40px;
	right: 11px;
	border: 5px solid transparent;
	border-top: 5px solid $tekst;
}
.menu1 ul li.has-sub:hover > a {
}
.menu1 ul li.has-sub:hover > ul,
.menu1 ul li.has-sub:hover > div {
	display: block;
}
.menu1 ul li.has-sub > a:hover {
}
/* End of Arrow */

/* Dropdown FX */
.menu1 ul li > ul,
.menu1 ul li > div {
	display: none;
	position: absolute;
	border-top: 1px solid $hover;
	top: 64px;
	padding: 0;
	background: $secondary;
}
.menu1 ul li > ul {
	opacity: 0.99;
	width: 165px;
}
.menu1 ul li > ul li {
	display: block;
}
.menu1 ul li > ul li a {
	display: block;
	padding: 10px 15px;
	color: $tekst;
	text-decoration: none;
}
/* ACTIVE menu item */
.menu1 .current_page_item > a, 
.menu1 .current-menu-item > a, 
.menu1 .current_page_item > a:hover,
.menu1 .current-menu-item > a:hover, 
.menu1 .current_page_ancestor > a {  
    color: $hover;
} 

/* SEARCH BAR */
#searchform {

}
#searchsubmit {
	display: none;
}
#s {
	padding: 5px 10px;
	margin-top: 5px;
	background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;        
        color: $tekst;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 3px;
        border: 1px solid $tekst;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
        &:hover,
        &:focus {
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid $hover;
            border-radius: 0;
            background-position: 100% center;
            color: $hover;
        }
}
/* Sidebar */
.sidebar {
	position: relative;
	float: right;
	background-color: $hover;
	padding: 30px;
	min-height: 200px;
	margin-right: 5%;
	margin-top: 20px;
	border-top: 5px solid $primary;
	background: $hover;
		-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
		-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
		box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}
.sidebar a {
	color: $primary;
}
.sidebar a:hover {
	text-decoration: none;
	color: $tekst;
}
/* Pagination menu */
.num-pagination {
	padding: 10px 0 20px 0;
}
.page-numbers {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px 0 0;
	border: 1px solid #eee;
	line-height: 1;
	text-decoration: none;
	border-radius: 2px;
	color: $primary;
}
.page-numbers.current,
a.page-numbers:hover {
	background: #f9f9f9;
	color: $tekst;
	text-decoration: none;
}

#logo {
	position: absolute;
	margin-top: 6px;
	margin-left: 10px;
	height: 50px;
}
/*Mobile logo*/
#wprmenu_bar .menu_title {
	float: right;
    top: -10px;
}
#wprmenu_bar .bar_logo {
    border: none;
    margin-bottom: 20px;
    padding: 0;
    width: auto;
    height: 35px;
}
