/*
Theme Name: Kiriku kogudus
Author: Ilona & Kai
Version: 3.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

.menu_mob {
	display: none;
}

.main-nav {
	width: 100%;
	height: 65px;
	background-color: #d1bfa7;
	position: relative;
	z-index: 99;
}

.menu1 {
	font-size: 1rem;
	margin-left: 215px;
}

.menu2 {
	float: right;
	padding-right: 10px;
	padding-top: 20px;
	height: 65px;
}

.menu2 a {
	text-decoration: none;
	color: #49494b;
}

.menu2 a:hover {
	color: #fff;
	transition: 0.3s;
}

.menu2 ul {
	list-style: none;
	float: right;
}

.menu2 ul li{
	display: inline;
	margin: 7px;
}

/*  first level of our drop down menu */

.menu1 li a:hover {
	color: #fff;
	transition: 0.2s;
}

.menu1 > ul {
	padding: 0;
	margin: 0;
}

.menu1 > ul > li {
	list-style: inside none;
	float: left;
	position: relative;
}

.menu1 > ul > li > a {
	display: block;
	padding: 20px 10px;
	text-decoration: none;
	color: #49494b;  
}

.menu1 > ul > li > a:hover {
	color: #fff;
	transition: 0.2s;
}

/* DropDown ARROW Style */

.menu1 > ul > li.has-sub > a:before {
	content: '';
	position: absolute;
	top: 40px;
	right: 11px;
	border: 5px solid transparent;
	border-top: 5px solid #49494b;
}

.menu1 ul li.has-sub:hover > a {
}

.menu1 ul li.has-sub:hover > ul,
.menu1 ul li.has-sub:hover > div {
	display: block;
}

.menu1 ul li.has-sub > a:hover {
}

/* End of Arrow */

/* Dropdown FX */

.menu1 ul li > ul,
.menu1 ul li > div {
	display: none;
	position: absolute;
	border-top: 1px solid #fff;
	top: 64px;
	padding: 0;
	background: #d1bfa7;
}

.menu1 ul li > ul {
	opacity: 0.99;
	width: 165px;
}

.menu1 ul li > ul li {
	display: block;
}

.menu1 ul li > ul li a {
	display: block;
	padding: 10px 15px;
	color: #49494b;
	text-decoration: none;
}

/* ACTIVE menu item */

.menu1 .current_page_item > a, 
.menu1 .current-menu-item > a, 
.menu1 .current_page_item > a:hover,
.menu1 .current-menu-item > a:hover, 
.menu1 .current_page_ancestor > a {  
    color: #fff;
}

/* SEARCH BAR */

#searchform {

}

#searchsubmit {
	display: none;
}

#s {
	padding: 5px 10px;
	margin-top: 5px;
	background-color: transparent;
        transition: -webkit-transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;        
        color: #49494b;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 3px;
        border: 1px solid #49494b;
        transition: all 250ms ease-in-out;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
}

#s:hover,
        #s:focus {
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #fff;
            border-radius: 0;
            background-position: 100% center;
            color: #fff;
        }

/* Sidebar */

.sidebar {
	position: relative;
	float: right;
	background-color: #fff;
	padding: 30px;
	min-height: 200px;
	margin-right: 5%;
	margin-top: 20px;
	border-top: 5px solid #bd8c7d;
	background: #fff;
		box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}

.sidebar a {
	color: #bd8c7d;
}

.sidebar a:hover {
	text-decoration: none;
	color: #49494b;
}

/* Pagination menu */

.num-pagination {
	padding: 10px 0 20px 0;
}

.page-numbers {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px 0 0;
	border: 1px solid #eee;
	line-height: 1;
	text-decoration: none;
	border-radius: 2px;
	color: #bd8c7d;
}

.page-numbers.current,
a.page-numbers:hover {
	background: #f9f9f9;
	color: #49494b;
	text-decoration: none;
}

#logo {
	position: absolute;
	margin-top: 6px;
	margin-left: 10px;
	height: 50px;
}

/*Mobile logo*/

#wprmenu_bar .menu_title {
	float: right;
    top: -10px;
}

#wprmenu_bar .bar_logo {
    border: none;
    margin-bottom: 20px;
    padding: 0;
    width: auto;
    height: 35px;
}

/*Search widget*/

.chw-widget {
	margin-top: 12px;
	float: right;
}

.screen-reader-text {
	display: none;
}

#searchform {
	float: right;
}

/* Page.php style */

.page-wrapper {
	background: url(images/background_clouds.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	min-height: 100%;
}

.page-container {
	width: 50%;
	margin: auto;
	min-height: 50%;	
	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: white;
}

.page-container2 {
	width: 50%;
	margin: auto;
	min-height: 70%;	
	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #fff;
}

.page-title{
	background-color: #bd8c7d;
	color: white;
	padding: 15px 0;
}

.page-title h2{
	margin: 0;
	font-size: 2.8rem;
	font-family: 'Montserrat', 'Nunito';
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}

.page-container h2 {
	font-size: 1.8rem;
	font-weight: 300;
	margin-top: 50px;
}

.page-container p {
	font-size: 1.125;
	line-height: 1.5;
}

/* front-page.php style*/

.index-container {
	margin: 0 !important;
	padding: 0 !important;
	background: url(images/background_main.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 92%;
	text-align: center;
	color: #fff;
}

.index-container h1{
	letter-spacing: 3px;
    font-size: 2em;
}

.index-container p{
    font-size: 1.15em;
	}

.front-text-container {
	height: 100%;
	padding-top: 200px;
	margin: auto;
	width: 70%;
}

.front-text-container a {
	color: #d1bfa7;
}

.front-text-container a:hover {
	color: #fff;
}

.text-background {
	padding: 20px 40px;
	background: rgb(0, 0, 0, 0.4);
}

/* Footer style */

.page-footer {
	background-color: #d1bfa7;
	padding-left: 20%;
}

/* Different elements from pages*/

.addtoany_content {
    margin: 0 !important;
}

.kuukiri-btns-container {
	text-transform: uppercase;
	text-align: center;
}

a.kuukiri-btns {
	width: 47%;
	display: inline-block;
	font-size: 1.25em;
	padding:0.55em 1.2em;
	border: 0.1em solid #49494b;
	margin:0 0.45em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	color: #49494b;
	text-align: center;
	transition: all 0.2s;
}

a.kuukiri-btns:hover {
	color: #fff;
	background-color:#49494b;
}

#loe-edasi {
	margin: 15px 10px;
	height: 40px;
}

#loe-edasi a {
	display: inline-block;
	float: right;
	padding:0.35em 1em;
	border: 0.1em solid #49494b;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	color: #49494b;
	text-align: center;
	transition: all 0.2s;
}

#loe-edasi a:hover {
	color: #fff;
	background-color:#49494b;
}

#loe-edasi-avaleht {
	margin-top: 25px;
}

#loe-edasi-avaleht a {
	padding:0.35em 1em;
	border: 0.1em solid #fff;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	transition: all 0.2s;
}

#loe-edasi-avaleht a:hover {
	color: #49494b;
	background-color:#d1bfa7;
	border: 1px solid #d1bfa7;
}

.fea_img {
	width: 100%;
}

.fea_img img {
    padding-bottom: 15px;
}

/* single.php */

.page-title-single {
	background-color: #bd8c7d;
	color: #fff;
	padding-top: 15px 0;
}

.page-title-single h2{
	margin: 0;
	font-size: 1.8rem;
	font-family: 'Montserrat';
	font-weight: 300 !important;
	text-align: center;
	text-transform: uppercase;
}

/* home.php and single.php */

.post-content { 
	padding: 15px 0 40px 0;
	border-bottom: 1px solid grey;
}

.post-content a { 
	color: #bd8c7d;
}

.posts-title a { /*home.php heading*/
	color: #bd8c7d;
}

.posts-title a:hover { /*home.php heading*/
	color: #49494b;
	text-decoration: none;
}

/* Published date style */

.publish-date {
	margin: 0 0 15px 5px;
	border-radius: 5px;
	color: #49494b;
	opacity: 0.7;
}

/* Changing Calendar style */

.monthly-today1 .monthly-day-number1 {
    color: white !important;
    background: none !important;
}

.listed-event-desc p {
	color: white !important;
}

.monthly-event-list .monthly-today .monthly-event-list-date {
    color: white !important;
}

/* 3rd party packages */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  height: 100%;
  margin: 0;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  font-family: 'Nunito', 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@media screen and (max-width: 1240px) {
    .main-nav {
        visibility: hidden;
        display: none;
    }
    .page-container {
	    width: 80%;
	}
    .page-footer {
	    padding-left: 15%;
	}
	.sidebar {
		display: none;
	}
	.page-container2 {
		width: 80%;
	}
}

@media screen and (min-device-width: 10px) and (max-width: 700px) { 
	.page-wrapper {
		background: white;
}
	a.kuukiri-btns{
		width: 100%;
	}
	.page-footer {
	    padding-left: 0;
	}
	a.kuukiri-btns {
		padding:0.15em 1.2em;
		margin:0 0.9em 0.7em 0;
	}
	.index-container {
		min-height: 85%;
	}
	.index-container h1{
    	font-size: 1.7em;
	}
	.index-container p{
    	font-size: 1em;
	}
	.front-text-container {
		padding-top: 80px;
		margin: auto;
		width: 90%;
	}
	.h2, h2 {
    font-size: 1.5rem;
}
	.page-title{
		padding: 10px 0;
	}
	.page-title h2 {
		font-size: 1.6rem;
	}
	.post-title h2 a {
		font-size: 1rem;
	}
	.page-container {
		width: 100%;
		margin: auto;
		min-height: 50%;
		padding: 10px;
	}
	.page-container2 {
		width: 100%;
		margin: auto;
		min-height: 50%;	
		padding: 10px;
	}
	.page-container h2 {
		font-size: 1.5rem;
	}
	.kuukiri-btns-container {
		padding: 20px 20px 0 20px;
	}
	.elementor-spacer-inner {
		display: none;
	}
	.elementor-testimonial-content span{
		font-size: 1rem;
	}
}

#contact {
	background:#F9F9F9;
	padding:25px;
	margin-bottom: 20px;
}

fieldset {
	border: medium none !important;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;	
	border: 0.1em solid #fff;
	border-radius: 0.22em;
	color: #fff;
	transition: all 0.2s;
	padding:10px;
	font-size: 1em;
	background-color: #49494b;
}

#contact button[type="submit"]:hover {
	color: #fff;
	background-color:#bd8c7d;
	border: 0.1em solid #fff;
}

#contact button[type="submit"]:active { box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}

::-webkit-input-placeholder {
 color:#888;
}

:-moz-placeholder {
 color:#888;
}

::-moz-placeholder {
 color:#888;
}

:-ms-input-placeholder {
 color:#888;
}

.error {
	color: #f46242;
	margin: 0 0 15px 2px;
	font-size: 15px;
}

.success {
	margin-top: 10px;
	background-color: #d3ffd7;
	color: #15b223;
	font-size: 1.15em;
	text-align: center;
	border-radius: 0.22em;
}